{% extends 'base.html' %}

{% block title %}Logowanie{% endblock %}

{% block content %}
    <h1>Logowanie</h1>
    {% if form.errors %}
        <p>
            Nazwa użytkownika lub hasło są nieprawidłowe.
            Spróbuj ponownie.
        </p>
    {% else %}
        <p>Wypełnij poniższy formularz, aby się zalogować:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="POST">
            {{ form.as_p}}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type='submit' value='Zaloguj'></p>
        </form>
        <div class="social">
            <ul>
                <!--Login Oauth-->
                <li class="facebook">
                    <a href="{% url 'social:begin' 'facebook' %}">
                        Zaloguj się za pomocą konta Facebook
                    </a>
                </li>
                <li class="twitter">
                    <a href="{% url 'social:begin' 'twitter' %}">
                        Zaloguj się za pomocą X
                    </a>
                </li>
                <li class="google">
                    <a href="{% url 'social:begin' 'google-oauth2' %}">
                        Zaloguj się za pomocą Google
                    </a>
                </li>
            </ul>
        </div>
        <p>
            <a href="{% url 'password_reset' %}">
                Zapomniałeś/zapomniałaś hasła?
            </a>
        </p>
        <p>Jeśli nie posiadasz konta, możesz je założyć <a href='{% url "register" %}'>tutaj</a></p>
    </div>
{% endblock %}